<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Study Assistant</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>AI Study Assistant 🚀</h1>

    <form method="POST">

        <input type="text"
            name="question"
            placeholder="Ask something..."
            required>

        <button type="submit">Ask AI</button>

    </form>

    <h2>{{ response }}</h2>

</body>

</html>